<!-- "For setting up account password for employees and verifying email for owners." -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payriz - {{subject}}</title>
</head>

<body style="font-family: sans-serif">
    <div style="margin: 0 auto; max-width: 20rem; padding: 2rem 0 1rem 0;">
        <div>
            <h3 style="font-size: 1.1rem; font-weight: semibold;">{{intro}},</h3>
            <p style="font-size: 1rem;">{{message}}</p>
        </div>
        <p
            style="padding: 4px; border: none; font-size: 1.2rem; background-color: #150d3d; border-radius: .2rem; text-align: center; width: 60%;">
            <a href={{url}} style="text-decoration: none; font-weight: 600; color: white;">{{btn_message}}</a>
        </p>
        <p style="font-size: 1rem; margin-top: .8rem;">Click <a href={{invoice_url}}>here</a> to download your invoice.</p>

        <div>
            <p>{{alt_message}}:</p>
            <a style="text-decoration: underline; max-width: 8rem; color: #150d3d;">{{url}}</a>
        </div>
    </div>
</body>
</html>
